@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
.heading {
  color: white;
  font-size: 2rem;
  margin-left: 2vw;
  color: #878787;
}

.header {
  font-family: "Single Day", cursive;
}
